---
layout: default
permalink: /kategorie/
title: Kategorie
---


<div id="archives">
{% for category in site.category %}
  <div class="archive-group">
    {% capture category_title %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_title | slugize }}"></div>
    <p></p>
    
    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_title | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
